In [1]:
def add(x, y):
    return x + y

In [2]:
add(4,8)

12

In [3]:
add(4,5)

9

In [7]:
list = [1,2,3]

def modify(list):
    list.append([4,5,6])
    return list

print (modify(list))
print (list)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 6]]

In [9]:
list = [1,2,3]

def modify(list):
    print (list)
    list = [4,5,6]
    return list

print (modify(list))
print (list)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3]

In [13]:
def getData(name, age):
    print ("Name: ", name)
    print ("Age: ", age)

getData(name="Ali", age="30")

Name:  Ali
Age:  30

In [12]:
def getData(name, age=0):
    print ("Name: ", name)
    print ("Age: ", age)

getData(name="Ali")

Name:  Ali
Age:  0

In [16]:
def getData(x, *vars):
    print (x)
    for var in vars:
        print (var)
    print ("\n")

getData(133)

133

In [18]:
getData(133,33,444)

133
33
444

In [23]:
multiply = lambda x,y: x*y

In [25]:
multiply(3,83)

249

In [29]:
total = 0

def sum(x,y):
    total = x + y
    return total

print(sum(9,7))
print (total)

16
0

In [30]:
total = 0

def sum(x,y):
    global total
    total = x + y
    return total

print(sum(9,7))
print (total)

16
16