In [3]:
import mysql.connector
from mysql.connector import errorcode, connect

In [105]:
try:
    db = connect(
            user = 'root',
            password = 'root',
            host= 'localhost',
            database = 'test',
            unix_socket='/Applications/MAMP/tmp/mysql/mysql.sock'
            )
except mysql.connector.Error as e:
    if e.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print ('Access denied!')
    elif e.errno == errorcode.ER_BAD_DB_ERROR:
        print ('Database not exist.')
    else:
        print (e)

cursor = db.cursor(buffered=True)

In [108]:
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

In [109]:
cursor.execute("""
CREATE TABLE EMPLOYEE(
FIRST_NAME CHAR (20) NOT NULL,
LAST_NAME CHAR (20),
AGE INT,
SEX CHAR(1),
INCOME FLOAT
)
""")

In [114]:
sql = """
INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)
VALUES
('ALI', 'HAMDI', 20, 'M', 5000)
"""

In [115]:
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

In [116]:
fname = 'ALI' 
lname = 'HAMDI'
age = 20
sex = 'M'
income = 1000

sql = " INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) \
VALUES ('%s', '%s', '%d', '%c', '%d') " %  (fname, lname, age, sex, income)

In [117]:
sql

" INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES ('ALI', 'HAMDI', '20', 'M', '1000') "

In [118]:
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

In [119]:
data = {
    0 :{
        'fname': 'ALI' ,
        'lname': 'HAMDI',
        'age': 20,
        'sex':'M',
        'income': 100
    },
   1: {
        'fname': 'Mahmoud' ,
        'lname': 'HAMDI',
        'age': 30,
        'sex':'M',
        'income': 1400
    },
   2: {
        'fname': 'Sayed' ,
        'lname': 'HAMDI',
        'age': 40,
        'sex':'M',
        'income': 100,
    },
   3: {
        'fname': 'Mustafa' ,
        'lname': 'HAMDI',
        'age': 10,
        'sex':'M',
        'income': 10440
    },    
}

In [120]:
data

{0: {'age': 20, 'fname': 'ALI', 'income': 100, 'lname': 'HAMDI', 'sex': 'M'},
 1: {'age': 30,
  'fname': 'Mahmoud',
  'income': 1400,
  'lname': 'HAMDI',
  'sex': 'M'},
 2: {'age': 40, 'fname': 'Sayed', 'income': 100, 'lname': 'HAMDI', 'sex': 'M'},
 3: {'age': 10,
  'fname': 'Mustafa',
  'income': 10440,
  'lname': 'HAMDI',
  'sex': 'M'}}

In [121]:
def insertData(sql):
    try:
        cursor.execute(sql)
        db.commit()
    except:
        db.rollback()

In [122]:
for i in data:
    sql = "INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) \
           VALUES ('%s', '%s', '%d', '%c', '%d') " %  \
         (data[i]['fname'], data[i]['lname'], data[i]['age'], data[i]['sex'], data[i]['income'])
    insertData(sql)

In [128]:
limit = 110
sql = ("SELECT * FROM EMPLOYEE WHERE INCOME > %d" % (limit))

In [129]:
sql

'SELECT * FROM EMPLOYEE WHERE INCOME > 110'

In [130]:
def retriveData(sql):
    try:
        cursor.execute(sql)
        results = cursor.fetchall()
        return results
    except:
        db.rollback()

In [131]:
retriveData(sql)

[('ALI', 'HAMDI', 20, 'M', 5000.0),
 ('ALI', 'HAMDI', 20, 'M', 1000.0),
 ('Mahmoud', 'HAMDI', 30, 'M', 1400.0),
 ('Mustafa', 'HAMDI', 10, 'M', 10440.0)]

In [132]:
sql = ("UPDATE EMPLOYEE SET AGE = AGE + 1")
insertData(sql)

In [133]:
sql = ("UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE INCOME > %d" % limit)
insertData(sql)

In [134]:
age = 23
sql = "DELETE FROM EMPLOYEE WHERE AGE > %d" % age

In [135]:
insertData(sql)

In [136]:
db.close()

In [137]:
insertData(sql)

OperationalError: 2055: Lost connection to MySQL server at '/Applications/MAMP/tmp/mysql/mysql.sock', system error: 9 Bad file descriptor