In [1]:
for x in range(0, 10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [3]:
names = ['Ali', 'Muhammad', 'Fuad', 'Mahmoud']

In [4]:
names

['Ali', 'Muhammad', 'Fuad', 'Mahmoud']

In [5]:
for name in names:
    print (name)

Ali
Muhammad
Fuad
Mahmoud

In [6]:
for x in [1,10,100]:
    print (x)

1
10
100

In [7]:
fuclties = ['FC','FS','FE','FM']
data = [names, fuclties]

In [8]:
data

[['Ali', 'Muhammad', 'Fuad', 'Mahmoud'], ['FC', 'FS', 'FE', 'FM']]

In [11]:
for x in range(0, len(data)):
    for y in range(0, len(data[x])):
        print (data[x][y])
    print ('\n')

Ali
Muhammad
Fuad
Mahmoud


FC
FS
FE
FM

In [22]:
for row in range(1,13):
    for column in range(1,13):
        num = row*column
        if num < 10:
            print (end="  ")
        print (num, end="  ")
    print ("")

  1    2    3    4    5    6    7    8    9  10  11  12
  2    4    6    8  10  12  14  16  18  20  22  24
  3    6    9  12  15  18  21  24  27  30  33  36
  4    8  12  16  20  24  28  32  36  40  44  48
  5  10  15  20  25  30  35  40  45  50  55  60
  6  12  18  24  30  36  42  48  54  60  66  72
  7  14  21  28  35  42  49  56  63  70  77  84
  8  16  24  32  40  48  56  64  72  80  88  96
  9  18  27  36  45  54  63  72  81  90  99  108
10  20  30  40  50  60  70  80  90  100  110  120
11  22  33  44  55  66  77  88  99  110  121  132
12  24  36  48  60  72  84  96  108  120  132  144